#! /usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

#export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# libtool/ar failes. I think this a apackage problem, it should use gcc-ar instead
# also some of the tests fail
CONFFLAGS = \
  --exec-prefix= \
  --with-rootprefix= \
  --with-rootlibdir=/lib/$(DEB_HOST_MULTIARCH) \

override_dh_install:
	dh_install -philscher-netx-kernel-module driver/uio_netx/* /usr/src/uio_netx-$(DEB_VERSION_UPSTREAM)
	dh_install -philscher-netx-kernel-module debian/extra/99-netx.rules /etc/udev/rules.d
	sed -e "s/^PACKAGE_VERSION=.*/PACKAGE_VERSION=$(DEB_VERSION_UPSTREAM)/" $(CURDIR)/debian/extra/dkms.conf >$(CURDIR)/debian/hilscher-netx-kernel-module/usr/src/uio_netx-$(DEB_VERSION_UPSTREAM)/dkms.conf

override_dh_installdeb:
	dh_installdeb
	for pkg in $$(dh_listpackages); do \
      sed -i -e 's/__DEB_VERSION_UPSTREAM__/$(DEB_VERSION_UPSTREAM)/' debian/$$pkg/DEBIAN/*; \
  done

%:
	dh $@ --builddirectory=build --sourcedirectory=driver/libcifx --buildsystem=autoconf --with autoreconf
  
